# App
NEXT_PUBLIC_APP_NAME=BUY67
NEXT_PUBLIC_BASE_URL=https://buy67.netlify.app

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://hcpouvgkmljbkmkcgkpv.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcG91dmdrbWxqYmtta2Nna3B2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyMTgyMDQsImV4cCI6MjA4Nzc5NDIwNH0.bnfrTBvFmwdMuH5HPvaaMQgcgneyefJrHMEKVbfYei4

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcG91dmdrbWxqYmtta2Nna3B2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIxODIwNCwiZXhwIjoyMDg3Nzk0MjA0fQ.c8FCSikXTBE-lvermV_xUuK2RGde4MbChbJJBxKIRm8

# BaseUPI
BASEUPI_API_KEY=zp_live_715e0b5a

#zp_live_715e0b5a0ca1461a199263f8ec63f1393c896a68df0f7671

BASEUPI_SECRET_KEY=zp_live_715e0b5a0ca1461a199263f8ec63f1393c896a68df0f7671

BASEUPI_WEBHOOK_SECRET=d390742123dc1e299b97c875c6d7dcce1c0b1dafd8fd58f4

#https://buy67.netlify.app/webhook/baseupi